<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading">
  <h2 class="title-header">Let's Play Cricket</h2>
  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile *ngFor="let team of teams">
      <mat-checkbox
        [ngClass]="{ 'mat-checkbox-disabled': teamSelectionLimitReached(team) }"
        [disabled]="teamSelectionLimitReached(team)"
        (change)="handleTeamSelection(team, $event)"
      >
        <img
          mat-card-image
          [src]="team.image"
          alt="{{ team.name }}"
          style="
            height: 100px;
            width: 150px;
            object-fit: cover;
            border-radius: 10px;
          "
        />
      </mat-checkbox>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="toss-btn">
    <button
      mat-raised-button
      (click)="selectBowlingTeam()"
      [disabled]="chosenTeams.length !== 2"
    >
      Start
    </button>
  </div>
</div>
