.title-header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.team-name {
  font-weight: 500;
  margin-left: 8px;
}
mat-grid-list {
  margin: 0 200px;
}
mat-grid-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button[mat-raised-button] {
  margin: 10px 0;
  background-color: #89cff0;
  color: white;
}

.toss-btn {
  display: flex;
  justify-content: center;
}
